{% extends 'base.html.twig' %}



{% block body %}
<div class="container my-5">
    <h1 class="text-center">Mon compte</h1>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Mes informations</h2>
        <p>Nom: {{ app.user.name }}</p>
        <p>Email: {{ app.user.email }}</p>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Me déconnecter</a>
         <a href="{{ path('app_account_modify_pwd') }}" class="btn btn-success">Modifier Mot de Passe</a>
    </div>
{% endblock %}


 {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                   {{ message }}
            </div>
 {% endfor %}
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
      </li>
    {% if app.user %}
       <li class="nav-item">
            <a class="nav-link">Vous êtes connecté</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
    {% endif %}
    </ul>
{% endfor %}