{% extends 'base.html.twig' %}



{% block body %}
<div class="container my-5">
    <h1 class="text-center">Mon compte</h1>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Mes informations</h2>
        <p>Nom: {{ app.user.nom }}</p>
        <p>Prénom: {{app.user.prenom }}</p>
        <p>Email: {{ app.user.email }}</p>

        {% if app.user.roles[0] == 'ROLE_ADMIN' %}

        {# une autre maniére dans le: if is_granted('ROLE_ADMIN') #}

        <a href="{{ path('admin')}}"><p>Administration</p></a>

        {% endif %}

        <a href="{{ path('app_logout') }}" class="btn btn-danger">Me déconnecter</a>
         <a href="{{ path('app_account_modify_pwd') }}" class="btn btn-success">Modifier Mot de Passe</a>
    </div>
{% endblock %}

